<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.dongfang.spring.aop"/>

    <!--1、实验数据源（引入外部配置文件）-->
    <!--${}取出 配置文件中的值，#{}表达式语言-->
    <context:property-placeholder location="classpath:spring/aop/transaction/dbconfig.properties"/>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="driverClass" value="${jdbc.driver}"/>
    </bean>

    <!--Spring提供了操作数据库的 jdbc template 模块，需要导入
        jdbc orm transaction三个模块
    -->

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--配置一个具有命名参数的jdbc template-->
    <bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <!--事务控制
        1、控制事务管理器，让其进行事务控制，要导入AOP的包
        2、开户基于注解的事务控制，依赖tx名称空间
        3、给事务方法加注解
    -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--控制信数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--transaction-manager事务管理器的名称-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>